.App {
  color: black;
  display: flex;
  margin: 30px;
  text-indent: 20px;
  height: 600px;

  flex-wrap: wrap;


}

div{

}

.secA{
  display: grid;
  width: 69%;
  grid-template-areas: 
  "a b c"
  "d d d"
  "d d d"
  ;
}

.sideBar{
width: 25%;
margin:1%;
background-color: #dddddd;

}

.reviews{
  grid-area: a;
  margin:5%;
background-color: #dddddd;

}

.ratings{
grid-area: b;
margin:5%;
background-color: #dddddd;
}


.analysis{
  grid-area: c;
  margin:5%;
background-color: #dddddd;
}

.visitors{
  grid-area: d;
  margin:2%;
background-color: #dddddd;
}

.visitorsSec img{
  justify-content: center;
  margin-left: 10%;
  width: 75%;
}




